<mat-sidenav-container class="container" (backdropClick)="closeSideBar()">
  <mat-sidenav [opened]="sidenavOpened$ | async" disableClose mode="push">
    <mat-nav-list>
      <mat-list-item>Example</mat-list-item>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content
    ><mat-toolbar>
      <button
        mat-icon-button
        *ngIf="!(sidenavOpened$ | async)"
        (click)="openSidebar()"
      >
        <mat-icon>menu</mat-icon>
      </button>
      <button mat-icon-button *ngIf="sidenavOpened$ | async">
        <mat-icon>close</mat-icon>
      </button>
      <span>Messdaten-App</span>
    </mat-toolbar>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
